body
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(32, 0, 53);
}

.conttitulo
{
    display:block;
    text-align: center;
    margin-top:22%;
    background-color: rgb(37, 26, 192);
      
}
.titulo
{
  
  
  color: white;
}
